<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 

        <ui:composition template="template/templateInterno.xhtml"> 
            <ui:define name="content">


                <h:outputText value="ANALISAR SOLICITAÇÕES"/>        
                <h:form>
                        <p:messages id="messages"  autoUpdate="true" closable="true" />
                </h:form>

                <h:form id="form" >

                    
                    <p:commandButton value="Solicitações Realizadas" icon="ui-icon-search" action="#{beanSolicitacao.buscarSolicitacoes()}"  update="@form" />

                    <p:dataTable id="pro" var="produto" value="#{beanSolicitacao.solicitados}" editable="true" style="margin-bottom:20px">
                             
                                                       
                            <p:column headerText="Data">
                                    <h:outputText value="#{produto.data}" />
                                </p:column> 
                               <p:column headerText="seucodigodealmoxarife">
                                    <h:outputText value="#{produto.numero}" />
                                </p:column>                         
                            <p:column headerText="Data">
                                    <h:outputText value="#{produto.data}" />
                                </p:column> 
                        <p:column headerText="seucodigodealmoxarife">
                                    <h:outputText value="#{produto.quantidade}" />
                                </p:column>                         
                            

                        <p:column headerText="Status">
                                       <p:cellEditor>
                                               <f:facet name="output"><h:outputText value="#{produto.status}" /></f:facet>
                                               <f:facet name="input">
                                            <h:selectOneMenu value="#{produto.status}" style="width:100%">
                                                      
                                            </h:selectOneMenu>
                                                   </f:facet>
                                           </p:cellEditor>
                                   </p:column>
                         
                               
                         
                               <p:column style="width:70px">
                                     
                                     <p:commandButton value="Receber"   update="@form" />                     
                                
                                   </p:column>
                           </p:dataTable>
                </h:form>


            </ui:define> 
        </ui:composition> 

    </h:body> 

</html>