<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 

        <ui:composition template="template/templateInterno.xhtml"> 
            <ui:define name="content">
                
                
                <h:outputText value="BUSCAR ITENS"/>          
                <h:form>
                        <p:messages id="messages"  autoUpdate="true" closable="true" />
                </h:form>
                
                <h:form id="form" >
                    
                    <h:outputText value="Buscar:"/>
                    <p:inputText value="#{beanItens.produtoDaBusca}" />
                    <p:commandButton icon="ui-icon-search" action="#{beanItens.buscaTodosOsItens()}" update="@form" />
                    
                    <p:dataTable var="produto" value="#{beanItens.lista}">                            
                         
                         <p:column headerText="Produto">
                                    <h:outputText value="#{produto.produto.nome}" />
                                </p:column>
                        <p:column headerText="Almoxarifado">
                                    <h:outputText value="#{produto.almoxarifado.cidade}" />
                                </p:column>
                            <p:column headerText="Descrição do Produto">
                                    <h:outputText value="#{produto.produto.descricao}" />
                                </p:column>                         
                           <p:column headerText="Quantidade Disponivel">
                                    <h:outputText value="#{produto.quantidade}" />
                                </p:column>  
                          <p:column headerText="Quantidade Reservada">
                                    <h:outputText value="#{produto.quantidadeReservada}" />
                                </p:column>
                        
                    </p:dataTable>
                </h:form>


            </ui:define> 
        </ui:composition> 

    </h:body> 

</html>