<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 

        <ui:composition template="template/template.xhtml"> 
            <ui:define name="content"> 

                <h:form>
                        <p:messages id="messages"  autoUpdate="true" closable="true" />
                </h:form>
                <h:form>
                    <h:outputText value="FAÇA SEU LOGIN"/>
                    <h:panelGrid columns="2" cellpadding="5">

                        <h:outputText value="login: " />
                        <p:inputMask value="#{beanLoginUser.log}" required="true" requiredMessage="campo login obrigatorio!" mask="9?99999999"/>                        


                        <h:outputText value="Senha: " />
                        <p:password id="nonFeedback" value="#{beanLoginUser.password}" required="true" requiredMessage="campo senha obrigatorio!" />

                        <p:commandButton value="Entrar" action="#{beanLoginUser.logar()}"   icon="ui-icon-key" />

                    </h:panelGrid>

                </h:form>


            </ui:define> 
        </ui:composition> 

    </h:body> 

</html>