<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 

        <ui:composition template="template/templateInterno.xhtml"> 
            <ui:define name="content"> 

                <h:outputText value="SOLICITAR ITENS"/>

                <p:growl id="msgs" showDetail="true"/>
                 <h:form>
                        <p:messages id="messages"  autoUpdate="true" closable="true" />
                </h:form>


                <h:form id="form">
                        <h1>pagina de teste</h1>
                </h:form>

            </ui:define> 
        </ui:composition> 

    </h:body> 

</html>