<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 

        <ui:composition template="template/templateInterno.xhtml"> 
            <ui:define name="content"> 

                <h:outputText value="SOLICITAR ITENS"/>

                <p:growl id="msgs" showDetail="true"/>
                 <h:form>
                        <p:messages id="messages"  autoUpdate="true" closable="true" />
                </h:form>


                <h:form id="form">
                        <p:growl id="msgs" showDetail="true" />
                     <h:outputText value="Buscar:"/>
                    <p:inputText value="#{beanItens.produtoDaBusca}" />
                    <p:commandButton icon="ui-icon-search" action="#{beanItens.buscaTodosOsItens()}" update="@form" />
                        
                    <p:dataTable id="basicDT" var="car" value="#{beanItens.lista}">
                                <f:facet name="header">
                                        Busca:
                                    </f:facet>
                                               <p:column headerText="Produto">
                                    <h:outputText value="#{car.produto.nome}" />
                                </p:column>
                        <p:column headerText="Almoxarifado">
                                    <h:outputText value="#{car.almoxarifado.cidade}" />
                                </p:column>
                            <p:column headerText="Descrição do Produto">
                                    <h:outputText value="#{car.produto.descricao}" />
                                </p:column>                         
                           <p:column headerText="Quantidade Disponivel">
                                    <h:outputText value="#{car.quantidade}" />
                                </p:column>  
                          <p:column headerText="Quantidade Reservada">
                                    <h:outputText value="#{car.quantidadeReservada}" />
                                </p:column>
                                <p:column >
                                       <p:commandButton update="@form"  value="adicionar" title="View">
                                                <f:setPropertyActionListener value="#{car}" target="#{beanItens.itemse}" />
                                            </p:commandButton>
                                    </p:column>
                            
                    </p:dataTable>

                    <br/>
                    <br/> <br/>
                    <br/> <br/>

                    <p:dataTable id="carDetail" var="so" value="#{beanItens.itensDaSolicitacao}" editable="true" style="margin-bottom:20px">
                               <f:facet name="header">
                                       Produto 
                                   </f:facet>

                        <p:ajax event="rowEdit" listener="#{beanItens.onRowEdit(event)}" update=":form:msgs" />
                               <p:ajax event="rowEditCancel" listener="#{beanItens.onRowCancel}" update=":form:msgs" />


                            <p:column headerText="Nome">
                                    <h:outputText value="#{so.produto.nome}" />
                                </p:column>
                        <p:column headerText="descricao">
                                    <h:outputText value="#{so.almoxarifado.cidade}" />
                                </p:column>
                        <p:column headerText="quantidade">
                                    <h:outputText value="#{so.quantidade}" />
                                </p:column>

                         
                            <p:column headerText="quantidade requisitada">
                                       <p:cellEditor>
                                               <f:facet name="output"><h:outputText value="#{beanItens.quantidadeRequisitada}" /></f:facet>
                                               <f:facet name="input"><p:inputText value="#{beanItens.quantidadeRequisitada}"  label="quantidade requisitada"/></f:facet>
                                           </p:cellEditor>
                                   </p:column>



                        <p:column style="width:32px">
                                       <p:rowEditor />
                                   </p:column>
                        
                        

                           </p:dataTable>
                    
                    <p:commandButton value="Enviar Solicitação" action="#{beanItens.enviaSolicitacao()}" />
                
                </h:form>

            </ui:define> 
        </ui:composition> 

    </h:body> 

</html>