<?xml version='1.0' encoding='UTF-8' ?> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert  name="top"></ui:insert>
                <h:form>  
                    <p:commandLink  actionListener="#{beanControlePainel.interno()}">
                                <h:outputText value="E-M SOLUÇÃO DE PROBLEMAS" />
                        </p:commandLink>
                    </h:form>  
            
            <h:form>
                <p style=" text-align: right">  <h:outputText  value="Ola seja bem vindo:" /> <h:outputText  value="#{beanLoginUser.usuarioLogado.nome}" /> </p> 
            </h:form>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left"></ui:insert>

                <h:form>
                    <p:commandButton value="BUSCAR" action="#{beanControlePainel.buscar()}"/>
                    <p:commandButton value="SOLICITAR ITENS" action="#{beanControlePainel.solicitar()}"/>
                    <p:commandButton value="SOLICITAÇÕES" action="#{beanControlePainel.analisar()}"/> 
                    <p:commandButton value="PAGINA TESTE" action="#{beanControlePainel.paginaTeste()}"/>
                </h:form>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">Todos os direitos reservados</ui:insert>
        </div>

    </h:body>

</html>
