<?xml version='1.0' encoding='UTF-8' ?> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">E-M SOLUÇÃO DE PROBLEMAS</ui:insert>
        </div>
        
            
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        
        <div id="bottom">
            <ui:insert name="bottom">Todos os direitos reservados</ui:insert>
        </div>

    </h:body>

</html>
